#lang css

@charset "utf-8";

/**
 * This example is not as good as it should be,
 * the DOM and CSSOM are not clearly defined
 * and conceptually indistinguishable, `module`
 * is also a bad type name which makes it more
 * confusing.
 */

:root {
    at-exp: @racket[] @schema [];
    racket-logo: @x-icon[#:height var(--icon-height) #:material rubber-icon-material #:thickness 12];
    retina-icon: image-set("normal.png" 96dpi, "normal@2x.png" 2x);

    font: Verdana, decorative; /* error property, font property requires font-size */
    font: 12px/1.5; /* error property, font property requires font-family or system font */

    url-image: image(url(test.png));
    string-image: image("color.png");
    solid-image: image(#000);
    fallback-image: image("", #ABCDEF);
    error-image: image(#FFF, "");

    case-sensitive-error-logo: @x-icon[#:Height 32 #:thickness 12];
    arity-error-paran-logo: @racket-logo(overconsumption #:height 32 normal-argument);
    arity-error-brace-logo: @right-arrow-icon{#:height 32};
    arity-error-bracket-logo: @text-icon[#:height 32];
}

:root {
    --cyclic: var(--dependency);
    --dependency: var(--cyclic);
    --self-dependency: var(--self-dependency);
    --whitespace: ;
    --undefined: var(--missing-variable);
    --broken-color: var(--broken, var(--whitespace)var(--gray));
    --gray: var(--whitespace)"GREY"var(--whitespace);
    --honeydew-s: 2.04%;
    --honeydew-i: 96.08%;
    --icon-height: 32;
    --default-font: sans-serif;
}

module.main {
    color : currentcolor;
    symbol-color: Blue;
    string-color: rgba(255, 128, 0);
    number-color: rgba(148, 22, 81);
    output-color: @debugger-bomb-color;
    paren-color: @run-icon-color;
    foreground-color: currentcolor;
    background-color: HsIa(120.01deg var(--honeydew-s) var(--honeydew-i) / 1.0);
    border-color: var(--gray);

    width: 384;
    desc: "";
    prelude: @text-icon("Prelude> " @make-font(#:face "Lucida Grande") #:color #3C803C #:height 100% #:trim\? false);

    font: normal 85% Kailasa, "Microsoft Himalaya", Qomolangma-Uchen Sarchung, var(--default-font);
    text-decoration: underline;
    image-resolution: 2dppx snap;
}

bitmap-desc.test {
    width: 32;
}

bitmap-desc.test {
    width: 32;
    desc: " ";
    text-decoration: none;
}

bitmap-desc.test {
    width: 0;
    desc: "!";
}

bitmap-desc.test {
    width: 2;
    desc: "bitmap-desc";
}

bitmap-desc.test {
    width: 64;
    desc: "Hello,\aMystery?";
    font: small modern;
    text-decoration: none;
    font-variant-ligatures: none;
}

bitmap-desc.test {
    font: medium American Typewriter, script;
    desc: "That last testcase is not a mysterious phenomena:"
          "It seemed to do some strange optimizing so that"
          "no single letter would be printed in a single line."
          "\a\a Bug Fixed!";
}

bitmap-desc.test {
    font-family: HanziPen TC, script;
    desc: "上一个例子不是谜之现象，之前误以为它会自己优化而不会出现一行只有一个字母的情况。\a\a此缺陷已修正！";
}

bitmap-desc.test {
    desc: "Basic String \Test: \22\20\\\E9 \6C34\00A5\27\"\a\a/* '\\a' is ascii newline, not letter 'a' */";
    font-family: system-ui;
    font-size: initial;
    font-style: initial;
    text-decoration-line: initial;
}
