#lang css

@charset "utf-8";

@import url(syntax.css);
                                 
@namespace bitmap url(github.com/wargrey/css/testcases/font);

/**
 * This example is not as good as it should be,
 * the DOM and CSSOM are not clearly defined
 * and conceptually indistinguishable, `module`
 * is also a bad type name which makes it more
 * confusing.
 */

module.main {
    color : currentcolor;
    symbol-color: Blue;
    string-color: rgba(255, 128, 0);
    number-color: rgba(148, 22, 81);
    output-color: @debugger-bomb-color;
    paren-color: @run-icon-color;
    foreground-color: currentcolor;
    background-color: HsIa(120.01deg var(--honeydew-s) var(--honeydew-i) / 1.0);
    border-color: var(--gray);

    width: 384;
    desc: "";
    prelude: @text-icon("Prelude> " @make-font(#:face "Lucida Grande") #:color #3C803C #:height 100% #:trim\? false);

    font: normal 85% Apple Color Emoji, "Segoe UI", Segoe UI Emoji, Segoe UI Symbol, var(--default-font);
    text-decoration: underline;
    image-resolution: 2dppx snap;
}

bitmap-desc.test {
    width: 32;
}

bitmap-desc.test {
    width: 32;
    desc: " ";
    text-decoration: none;
}

bitmap-desc.test {
    width: 0;
    desc: "!";
}

bitmap-desc.test {
    width: 2;
    desc: "bitmap-desc";
}

bitmap-desc.test {
    width: 64;
    desc: "Hello,\aMystery?";
    font: small Monaco, "Courier New", Courier, monospace;
    text-decoration: none;
    font-variant-ligatures: none;
}

bitmap-desc.test {
    font: medium American Typewriter, script;
    desc: "That last testcase is not a mysterious phenomena:"
          "It seemed to do some strange optimizing so that"
          "no single letter would be printed in a single line."
          "\a\a Bug Fixed!";
}

bitmap-desc.test {
    font-family: HanziPen TC, script;
    desc: "上一个例子不是谜之现象，之前误以为它会自己优化而不会出现一行只有一个字母的情况。\a\a此缺陷已修正！";
}

bitmap-desc.test {
    desc: "Basic String \Test: \22\20\\\E9 \6C34\00A5\27\"\a\a/* '\\a' is ascii newline, not letter 'a' */";
    font-family: system-ui;
    font-size: initial;
    font-style: initial;
    text-decoration-line: initial;
}

bitmap-desc:lang(bo).test {
    font-family: Qomolangma-Uchen Sarchung, "Microsoft Himalaya", Kailasa, default;
    desc: "བོད་ཡིག";
    text-decoration-line: underline;
}
