#lang css

@charset "utf-8";

@import url(syntax.css);
                                 
@namespace bitmap url(github.com/wargrey/css/testcases/font);

/**
 * This example is not as good as it should be,
 * the DOM and CSSOM are not clearly defined
 * and conceptually indistinguishable, `module`
 * is also a bad type name which makes it more
 * confusing.
 */

module.main {
    color : currentcolor;
    symbol-color: Blue;
    string-color: rgba(255, 128, 0);
    number-color: rgba(148, 22, 81);
    output-color: @debugger-bomb-color;
    paren-color: @run-icon-color;
    foreground-color: currentcolor;

    desc: "";
    desc-width: 384;
    prelude: @text-icon("Prelude> " @make-font(#:face "Lucida Grande") #:color #3C803C #:height 100% #:trim\? false);

    font: normal 85% Apple Color Emoji, "Segoe UI", Segoe UI Emoji, Segoe UI Symbol, var(--default-font);
    text-decoration: underline;
    image-resolution: 2dppx snap;

    border-top: 255px var(--gray) dotted;      /* border properties are not inheritable */
    background-color: var(--background-color); /* background properties are not inheritable */
}

bitmap-desc.test { /* not top and bottom border */
    desc-width: 32;
    border-left: 1px Silver dotted;
    border-right: 1px Silver dotted;
    background-style: solid;
    background-color: var(--background-color);
}

bitmap-desc.test { /* not left and right border */
    desc-width: 32;
    desc: " ";
    text-decoration: none;
    border-top: 1px Silver dotted;
    border-bottom: 1px Silver dotted;
    background-style: solid;
    background-color: var(--background-color);
}

bitmap-desc.test {
    desc-width: 0;
    desc: "!";
    border: 1px Silver dotted;
    background-style: solid;
    background-color: var(--background-color);
}

bitmap-desc.test {
    desc-width: 2;
    desc: "bitmap-paragraph";
    border: 1px Silver dotted;
    background-style: solid;
    background-color: var(--background-color);
}

bitmap-desc.test {
    desc-width: 64;
    desc: "Hello,\aMystery?";
    font: small "Courier New", Monaco, Courier, monospace;
    text-decoration: none;
    font-variant-ligatures: none;
    border: 1px Silver dotted;
    background-style: solid;
    background-color: var(--background-color);
}

bitmap-desc.test {
    border: 1px Silver dotted;
    background-style: solid;
    background-color: var(--background-color);
    font: medium American Typewriter, script;
    desc: "That last testcase is not a mysterious phenomena:"
          "It seemed to do some strange optimizing so that"
          "no single letter would be printed in a single line."
          "\a\a Bug Fixed!";
}

bitmap-desc.test {
    border: 1px Silver dotted;
    font-family: HanziPen TC, script;
    background-style: solid;
    background-color: var(--background-color);
    desc: "上一个例子不是谜之现象，之前误以为它会自己优化而不会出现一行只有一个字母的情况。\a\a此缺陷已修正！";
}

bitmap-desc.test {
    margin: 8px;
    border-top:    2px hsi(240, 0%, 75%)  dot-dash;
    border-right:  2px hsi(120, 50%, 32%) dashed;
    border-bottom: 2px hsi(240, 0%, 50%)  long-dash;
    border-left:   2px hsi(120, 50%, 64%) solid;
    desc: "Basic String \Test: \22\20\\\E9 \6C34\00A5\27\"\a\a/* '\\a' is ascii newline, not letter 'a' */";
    font-family: system-ui;
    font-size: initial;
    font-style: initial;
    text-decoration-line: initial;
    background-style: solid;
    background-color: var(--background-color);
}

bitmap-desc:lang(bo).test { /* functional pseudo classes have not been supported */
    border: 1px Silver dotted;
    font-family: Qomolangma-Uchen Sarchung, "Microsoft Himalaya", Kailasa, default;
    desc: "བོད་ཡིག";
    text-decoration-line: underline;
    background-style: solid;
    background-color: var(--background-color);
}
