#lang css

@charset "utf-8";

/**
 * In this test, the box is not a standard one.
 * `margin` and `padding` only accept one or two arguments,
 * so `margin-bottom`, `margin-left`, `padding-bottom` and `padding-left` are ignored.
 */

@import url(retina.css) (resolution = 2dppx);

@namespace box url(github.com/wargrey/css/testcases/media);

@viewport {
  user-zoom: fixed;
  width: 800px;
  height: 600px;
}
                                                          
:root {
  font-size: larger;
  padding: 0px 0px;
  color: DarkSlateGray;
  background-color: White;
  border-color: currentcolor;
}

@media (resolution < 2dppx) {
  :root {
    margin: 2px 2px;
    icon-height: 1.2; /* unitless */
    border-style: transparent;
  }
}

@media (resolution = 2dppx) {
  :root {
     icon-height: 1.2; /* unitless */
     border-style: initial !important;
  }
}

@supports not (font-variant-ligatures: normal) {
  :root {
     font-variant-ligatures: none;
  }
}

:selected {
  color: GhostWhite;
  background-color: DodgerBlue;
}
