#lang css

@charset "utf-8";

@namespace retina url(github.com/wargrey/css/testcases/css-cascade);

:root {
  margin: 4px 4px;
  icon-height: 1.6 /* unitless */ !important;
  border-style: dotted !important;
}
