@charset "utf-8";

#root {
    at-exp: @racket[] @schema [];
    racket-logo: @x-icon[#height var(--icon-height) #material whatever #thickness 12];

    font: 12px/1.5; /* error property, font property requires font-family or system font */

    case-sensitive-error-logo: @x-icon[#Height 32 #thickness 12];
    arity-error-logo: @racket-logo(overconsumption #height 32 normal-argument);
    arity-error-logo: @right-arrow-icon{#height 32};
    arity-error-logo: @text-icon[#height 32];
}

#root {
    --cyclic: var(--dependency);
    --dependency: var(--cyclic);
    --self-dependency: var(--self-dependency);
    --whitespace: ;
    --undefined: var(--missing-variable);
    --broken-color: var(--broken, var(--whitespace)var(--gray));
    --gray: var(--whitespace)"GREY"var(--whitespace);
    --honeydew-s: 2.04%;
    --honeydew-i: 96.08%;
    --icon-height: 32;
    --default-font: sans-serif;
}


module.main {
    color : currentcolor;
    symbol-color: Blue;
    string-color: rgba(255, 128, 0);
    number-color: rgba(148, 22, 81);
    output-color: @debugger-bomb-color;
    paren-color: @run-icon-color;
    foreground-color: currentcolor;
    background-color: HsIa(120.01deg var(--honeydew-s) var(--honeydew-i) / 1.0);
    border-color: var(--gray);

    count: 8;
    width: 256;
    desc: "";

    font: normal 85% "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Gill Sans, var(--default-font);
    text-decoration: underline;
}

test#case0 {
    width: 32;
}

test#case1 {
    width: 32;
    desc: " ";
    text-decoration: none;
}

test#case2 {
    width: 0;
    desc: "!";
}

test#case3 {
    width: 2;
    desc: "bitmap-desc";
}

test#case4 {
    width: 32;
    desc: "Hello,\aRacket!";
    font: 12px modern;
    text-decoration: none;
    font-variant-ligatures: none;
}

test#case5 {
    desc: "That last testcase is not a mysterious phenomena:"
          "It seemed to do some strange optimizing so that"
          "no single letter would be printed in a single line."
          "\a\a Bug Fixed!";
}

test#case6 {
    desc: "上一个例子不是谜之现象，之前误以为它会自己优化而不会出现一行只有一个字母的情况。\a\a此缺陷已修正！";
}

test#case7 {
    desc: "Basic String \Test: \22\20\\\E9 \6C34\00A5\27\"\a\a/* '\\a' is ascii newline, not letter 'a' */";
    font-style: italic;
}
