/* shrink the font-size of chunks
   a. means <a/>
   span. means plaintext or broken <a/>
*/
a.RktValDef, a.RktValLink, a.RktStxDef, a.RktStxLink, a.RktSymDef,
span.RktValDef, span.RktValLink, span.RktStxDef, span.RktStxLink,
span.RktSymDef, span.RktSym, span.RktVal, span.RktPn,
span.stt, span.hspace {
 	font-family: 'Courier', monospace;
	font-size: 0.84rem;
}

a.plainlink {
	font-size: 0.84rem;
}


a.RktCmt, a.RktOut, a.RktErr, a.RktRes
span.RktCmt, span.RktOut, span.RktErr, span.RktRes {
 	font-size: 0.90rem;
}

blockquote.SCodeFlow {
	padding-left: 0.64rem;
    white-space: nowrap;
	line-height: 1.5;
}

.GYDMComment {
    color: #613A00;
	text-align: center;
    background-color: #d3d3d3;
    background: -moz-linear-gradient(#d3d3d3, #d3d3d3);
    background: -webkit-linear-gradient(#d3d3d3, #d3d3d3);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#d3d3d3')";
    border: 1px solid #8a8a8a;
}

/* These come from Github */
.GYDMWarning {
    color: #613A00;
    background-color: #ffe3c8;
    background: -moz-linear-gradient(#ffe3c8, #f5dac0);
    background: -webkit-linear-gradient(#ffe3c8, #f5dac0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3c8', endColorstr='#f5dac0')";
    border: 1px solid #dca874
}

.GYDMError {
    color: #9c2400;
    background-color: #f8d8d8;
    background: -moz-linear-gradient(#f8d8d8, #efd0d0);
    background: -webkit-linear-gradient(#f8d8d8, #efd0d0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8d8d8', endColorstr='#efd0d0')";
    border: 1px solid #da9797
}
