/* shrink the font-size of chunks
   a. means <a/>
   span. means plaintext or broken <a/>
*/
a.RktValDef, a.RktValLink, a.RktStxDef, a.RktStxLink, a.RktSymDef,
span.RktValDef, span.RktValLink, span.RktStxDef, span.RktStxLink,
span.RktSymDef, span.RktSym, span.RktVal, span.RktPn,
span.stt, span.hspace {
    font-family: 'Courier', monospace;
    font-size: small; /* 0.84rem */
}

a.plainlink {
    font-size: small;
}


a.RktCmt, a.RktOut, a.RktErr, a.RktRes
span.RktCmt, span.RktOut, span.RktErr, span.RktRes {
    font-size: small;
}

blockquote.SCodeFlow {
    padding-left: 0.64rem;
    white-space: nowrap;
    line-height: 1.5;
    overflow-x: scroll;
}

blockquote.Rfilebox {
    overflow-x: scroll;
}

blockquote.refcontent {
    overflow-x: scroll;
}
